:root {
  --adaptivemedium: rgba(255, 255, 255, 0.8);
  --adaptivestrong: rgba(255, 255, 255, 1);
  --adaptiveweak: rgba(255, 255, 255, 0.6);
  --body-regular-s-font-family: "Inter", Helvetica;
  --body-regular-s-font-size: 14px;
  --body-regular-s-font-style: normal;
  --body-regular-s-font-weight: 400;
  --body-regular-s-letter-spacing: 0px;
  --body-regular-s-line-height: 20px;
  --display-semibold-l-font-family: "Inter", Helvetica;
  --display-semibold-l-font-size: 48px;
  --display-semibold-l-font-style: normal;
  --display-semibold-l-font-weight: 600;
  --display-semibold-l-letter-spacing: 0px;
  --display-semibold-l-line-height: 56px;
  --display-semibold-m-font-family: "Inter", Helvetica;
  --display-semibold-m-font-size: 40px;
  --display-semibold-m-font-style: normal;
  --display-semibold-m-font-weight: 600;
  --display-semibold-m-letter-spacing: 0px;
  --display-semibold-m-line-height: 48px;
  --greygrey-100: rgba(21, 22, 26, 1);
  --greygrey-400: rgba(101, 106, 123, 1);
  --greygrey-600: rgba(85, 90, 103, 1);
  --greygrey-700: rgba(170, 174, 185, 1);
  --greygrey-900: rgba(38, 39, 46, 1);
  --heading-regular-l-font-family: "Inter", Helvetica;
  --heading-regular-l-font-size: 20px;
  --heading-regular-l-font-style: normal;
  --heading-regular-l-font-weight: 400;
  --heading-regular-l-letter-spacing: 0px;
  --heading-regular-l-line-height: 28px;
  --heading-regular-m-font-family: "Inter", Helvetica;
  --heading-regular-m-font-size: 18px;
  --heading-regular-m-font-style: normal;
  --heading-regular-m-font-weight: 400;
  --heading-regular-m-letter-spacing: 0px;
  --heading-regular-m-line-height: 24px;
  --heading-regular-s-font-family: "Inter", Helvetica;
  --heading-regular-s-font-size: 16px;
  --heading-regular-s-font-style: normal;
  --heading-regular-s-font-weight: 400;
  --heading-regular-s-letter-spacing: 0px;
  --heading-regular-s-line-height: 24px;
  --heading-regular-XL-font-family: "Inter", Helvetica;
  --heading-regular-XL-font-size: 24px;
  --heading-regular-XL-font-style: normal;
  --heading-regular-XL-font-weight: 400;
  --heading-regular-XL-letter-spacing: 0px;
  --heading-regular-XL-line-height: 32px;
  --heading-regular-XS-font-family: "Inter", Helvetica;
  --heading-regular-XS-font-size: 14px;
  --heading-regular-XS-font-style: normal;
  --heading-regular-XS-font-weight: 400;
  --heading-regular-XS-letter-spacing: 0px;
  --heading-regular-XS-line-height: 20px;
  --heading-semibold-m-font-family: "Inter", Helvetica;
  --heading-semibold-m-font-size: 18px;
  --heading-semibold-m-font-style: normal;
  --heading-semibold-m-font-weight: 600;
  --heading-semibold-m-letter-spacing: 0px;
  --heading-semibold-m-line-height: 24px;
  --primaryprimary-50: rgba(1, 7, 26, 1);
  --whitewhite-10: rgba(255, 255, 255, 0.1);
  --whitewhite-100: rgba(255, 255, 255, 1);
}