.card {
  display: flex;
  flex: 0 0 585px;
  height: 500px;
  width: 585px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 40px;
  border: 1px solid #fff;
  background: radial-gradient(
    100% 100% at 50% 0%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
    0px 3px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(12px);
  cursor: help;
  transition: transform 0.2s ease, width 0.5s ease-out, height 0.5s ease-out,
    top 0.5s ease-out, left 0.5s ease-out;
  position: relative;
}
.card:hover {
  transform: translateY(-8px); /* Move up on hover */
}
.card.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  z-index: 1000;
  background-color: white;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.expanded-content {
  padding: 20px;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;
  height: 55%;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 30px;
  background-color: radial-gradient(
    100% 100% at 50% 0%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
}
.hover-enabled:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Highlight on hover */
}
.imagetitle {
  color: var(--Adaptive-Strong, #fff);
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 104px; /* 130% */
}
.imagedesc {
  color: var(--Adaptive-Weak, rgba(255, 255, 255, 0.6));

  /* Heading/Regular/XL */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.info {
  display: flex;
  padding: 12px 40px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  overflow: hidden;
}
.infoicon {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.infotitle {
  color: var(--Adaptive-Medium, rgba(255, 255, 255, 0.8));

  /* Heading/Semibold/M */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.infodesc {
  color: var(--Adaptive-Weak, rgba(255, 255, 255, 0.6));

  /* Heading/Regular/S */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  white-space: normal;
}
.infotextcol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.icon {
  color: #ffffff;
  font-size: 25px;
}
