.exp-button-outer {
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  border-radius: 80px;
  border: 1px solid #fff;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(0, 0, 0, 0.1);

  /* Shadow/M */
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04),
    0px 2px 3px 0px rgba(0, 0, 0, 0.12), 0px 6px 9px 0px rgba(0, 0, 0, 0.6);
}
.exp-button-inner {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
}
.exp-button-title {
  color: var(--Grey-grey-800, #bfc2cb);
  /* Heading/Semibold/XS */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
