html {
  scroll-behavior: smooth;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

.home {
  align-items: center;
  background-color: var(--greygrey-100);
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 40px 160px;
  position: relative;
  width: 1920px;
  overflow: hidden; /* Add this line */
}

.home .main {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 130px;
  max-width: 1440px;
  position: relative;
  width: 100%;
}

.home .about {
  align-items: flex-start;
  border-radius: 40px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  max-width: 800px;
  padding: 40px 56px;
  position: relative;
  width: 100%;
}

.home .introrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Add this line */
  align-items: center; /* Add this line */
}

.home .div {
  color: var(--adaptivestrong);
  font-family: var(--display-semibold-l-font-family);
  font-size: var(--display-semibold-l-font-size);
  font-style: var(--display-semibold-l-font-style);
  font-weight: var(--display-semibold-l-font-weight);
  letter-spacing: var(--display-semibold-l-letter-spacing);
  line-height: var(--display-semibold-l-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .welcome-to-the {
  align-self: stretch;
  color: transparent;
  font-family: var(--heading-regular-l-font-family);
  font-size: var(--heading-regular-l-font-size);
  font-style: var(--heading-regular-l-font-style);
  font-weight: var(--heading-regular-l-font-weight);
  letter-spacing: var(--heading-regular-l-letter-spacing);
  line-height: var(--heading-regular-l-line-height);
  position: relative;
}

.home .text-wrapper-4 {
  color: #ffffff99;
  font-family: var(--heading-regular-l-font-family);
  font-size: var(--heading-regular-l-font-size);
  font-style: var(--heading-regular-l-font-style);
  font-weight: var(--heading-regular-l-font-weight);
  letter-spacing: var(--heading-regular-l-letter-spacing);
  line-height: var(--heading-regular-l-line-height);
}

.home .text-wrapper-5 {
  color: #ffffff;
  font-family: var(--heading-regular-l-font-family);
  font-size: var(--heading-regular-l-font-size);
  font-style: var(--heading-regular-l-font-style);
  font-weight: var(--heading-regular-l-font-weight);
  letter-spacing: var(--heading-regular-l-letter-spacing);
  line-height: var(--heading-regular-l-line-height);
}

.home .content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.home .title {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 56px;
  position: relative;
}

.home .text-wrapper-6 {
  color: var(--adaptivestrong);
  font-family: var(--display-semibold-m-font-family);
  font-size: var(--display-semibold-m-font-size);
  font-style: var(--display-semibold-m-font-style);
  font-weight: var(--display-semibold-m-font-weight);
  letter-spacing: var(--display-semibold-m-letter-spacing);
  line-height: var(--display-semibold-m-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .column {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  flex-direction: row;
  gap: 40px;
  position: relative;
  width: 100%;
  padding-top: 2%;
  white-space: nowrap;
}

.home .column::-webkit-scrollbar {
  display: none;
  width: 0;
}

.home .footer-instance {
  align-self: stretch !important;
  background-color: transparent !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.home .navigation {
  height: 300px;
  left: 71px;
  position: fixed;
  top: 61px;
  width: 82px;
}

.home .profile {
  height: 27.5%;
  width: 27.5%;
  border-radius: 45%;
  margin-right: 7.5%;
}
.first {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.toprowdiv {
  display: flex;
  flex-direction: row;
  gap: 1px;
  margin-top: 1.75%;
}

.icons {
  font-size: 40px; /* Adjust the size of the icons */
  color: #656a7b; /* Icon color */
  text-decoration: none; /* Remove underline */
  height: 56px; /* Set a fixed height */
  width: 56px; /* Set a fixed width */
}

.icons:hover {
  transform: translateY(-2.5px); /* Move up more on hover */
  color: #ffffff;
}
.experience-control-row {
  display: flex;
  width: 1480px;
  padding: 40px 0px 40px 58px;
  align-items: flex-start;
  gap: 16px;
}